*{
    margin: 0px;
    padding: 0px;
}

.main-page{
    background: #C5C9CD;
}

.main-nav-bar {
    height: 70px;
    display: flex;
    padding-left: 104px;
    padding-right: 104px;
}

.left-nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.mid-nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
}

.main-menu-bar {
    height: 50px;
    display: flex;
    justify-content: center;
}

.menu{
    height: 100%;
    width: 455px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

.merch {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.select-line{
    height: 2px;
    width: 60%;
    background-color: black;
}

.main-slogan-panel{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 104px;
    padding-right: 104px;
}

.slogan-panel{
    height: 373px;
    width: 1233px;
    display: flex;
    border-radius: 30px;
    background: #72767F;
    filter: drop-shadow(5px 5px 2px #554f54);
}

.main-slogan-box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.all-slogan-box{
    height: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.slogan-box{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slogan1{
    font-size: 40px;
}

.slogan2{
    color: #FF95F1;
    font-size: 40px;
}
.shop-now-box{
    display: flex;
    height: 50%;
    width: 100%;
    align-items: end;
    justify-content: center;
}

.shop-now{
    height: 50px;
    width: 175px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 80px;
    filter: drop-shadow(5px 5px 2px #554f54);
    background: #FF95F1;
    color: azure;
}