*{
    margin: 0px;
    padding: 0px;
}

.main-page{
    background: #C5C9CD;
}

.main-nav-bar {
    height: 70px;
    display: flex;
    padding-left: 104px;
    padding-right: 104px;
}

.left-nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.mid-nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-nav-bar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
}

.main-menu-bar {
    height: 50px;
    display: flex;
    justify-content: center;
}

.menu{
    height: 100%;
    width: 455px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

.merch {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.select-line{
    height: 2px;
    width: 60%;
    background-color: black;
}